* {
	box-sizing: border-box;
	
}

/*//////////////////////////////////////////////////////*/
/*////////////////BASE STYLINGS/////////////////////////*/
/*//////////////////////////////////////////////////////*/

body {
	font-family: Georgia, Times New Roman, serif;
	padding: 0px;
	margin: 0px;
	background-color: #dddddd;
	
	width: auto;
}

.col-xxs-3, .col-xxs-4, .col-xxs-6, .col-xxs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xxs-4 {
	width: 33.33%;
}

.col-xxs-6 {
	width: 50%;
}

.col-xxs-12 {
	width: 100%;
}

/*NAVIGATION BAR*/


#header-nav {
	width: 100%;
	position: relative;
	background: white;
	border: 2px black solid;
	padding: 0px;	
}

#header-nav>.container-fluid {
	padding: 0px;
	margin: 0px;
	height: 150px;
}

/*////////////LOGO//////////////////*/
/*////////////////////////////////////*/


.navbar-brand {
	height: 100px;
	position: relative;
	width: 100%;
}

.navbar-brand>div {
	position: relative;
	right: -0px;
	top: -50px;
}

#navbar-brand>div {
	width: auto;
}

.navbar-brand>div>h1 {
	position: absolute;
	width: auto;
	text-shadow: 2px 2px 1px #95bcf2;
	margin: 0px;
	top: 40px;
	left: 125px;
	/*overflow-wrap: break-word;*/
}

#logo {
	position: absolute;
	top: -20px;
	left: 5px;
}

.navbar-toggler {
	position: absolute;
	right: 10px;
	bottom: -210px;
	padding: 10px;
}

/*////////NAVIGATION///////////*/
/*///////////////////////////////*/

.contact-info {
	position: absolute;
	top: -10px;
	right: 20px;
	font-size: 0.75em;
	font-weight: bold;
	width: auto;
	display: none;
}

.contact-info>p {
	margin: 0px;
	text-align: right;
}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

#collapsable-nav {
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#collapsable-nav>.container-fluid {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#nav-list {
	width: 33%;
	margin-right: 0px;
	margin-left: auto;
	background: white;
	border: 2px solid black;
}

.navbar-nav>li>a, .navbar-nav>a {
	text-align: right;
	padding: 0px;
	margin: 10px 15px 0px auto;
	padding-right: 5px;					
	width: auto;
	font-size: 1.5em;
}

#nav-list>li>a {
	color: black;
	margin-right: 0px;
	text-decoration: none;


}

#nav-list>li {
	margin: 5px auto 5px auto;
    width: 100%;
    text-align: center;
	color: black;
	font-size: 0.75em;
	text-shadow: 1px 0px 0px #999;
}

#nav-list>li:nth-child(odd):focus, #nav-list>li:nth-child(odd):hover {
	background-color: #FF706B;
	box-shadow: 2px 2px 2px black;
}

#nav-list>li:nth-child(even):focus, #nav-list>li:nth-child(even):hover {
	background-color: #95bcf2;
	box-shadow: 2px 2px 2px black;
}

.active-odd {
	background-color: #FF706B;
	box-shadow: 2px 2px 2px black;
}

.active-even {

}


#mobile-phone-box {
	visibility: visible;
	background: #95bcf2;
	border: 1px solid black;
	position: relative;
	bottom: -50px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 2px 2px 2px black;
	width: 33%;
}

#mobile-phone-box>a {
	text-decoration: none;
	color: black;
}

#main-content {
	border: 2px solid black;
	position: relative;
	top: 70px;
	box-shadow: 2px 2px 1px black;
	background: white;
}

#main-content>p {
	padding-top: 10px;
	line-height: 30px;

}
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/




/*///////////ADJUST SCREEN FOR MOBILE DEVICES///////////////*/
/*//////////////////////////////////////////////////////////*/


@media (max-width: 350px) {
	


	#fta-full {
		font-size: 0.75em;
	}

	#main-content>p {
		line-height: 15px;
		text-align: justify;
	}


}


@media (max-width: 575px) {
	
	.navbar-toggler{
		bottom: -135px;
	}

	#mobile-phone-box {
		top: -30px;
	}

	.navbar-nav>li>a {
		margin-left: 0px;
	}

	#header-nav {
		height: 130px;
	}


	.navbar-toggler {
		right: 0px;
	}

	#main-content {
		padding-left: 10px;
		padding-right: 10px;
	}

	#main-content>p {
		text-align: justify;
	}

}

/*//////////////SMALL DEVICES//////////////////////*/
@media (min-width: 566px) {


	#mobile-phone-box {
		visibility: visible;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 33%;
	}

	#nav-list {
		width: 25%;
	}


}

/*////////////////////MEDIUM DEVICES///////////////////*/
@media (min-width: 768px) {

	#collapsable-nav {
		position: relative;
	}
	
	#nav-list {
		width: 16.66666667%;
	}

	.navbar-nav>li>a {
		margin-left: auto;
		margin-right: 0px;
		width: auto;
	}

	#mobile-phone-box {
		visibility: visible;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}

}


/*/////////////////////LARGE SCREENS/////////////////*/

@media (min-width: 992px) {

	#logo {
		position: relative;
		top: -25px;
		left: 5px;
	}

	#fta-full {
		top: -80px;
	}
	
	.contact-info {
		font-size: 1em;
		right: 25px;
		display: inline-block;
		top: 10px;
	}

	#collapsable-nav {
		display: inline-block;
	}

	#nav-list {
		position: absolute;
		top: -30px;
		left: 0px;
		padding: 0px 10px 5px 10px;
		width: 100%;
		border-top: 0px;
		flex-direction: row;
	}
	
	#nav-list>li {
		width: 16.66667%;
		float: left;
		right: -40px;
		margin-right: 20px;
		margin-bottom: 15px;
	}

	#nav-list>li>a {
		margin: 10px 0px 10px 0px;
		padding: 0px;
		text-align: center;
		display: inline;
	}

	#nav-list>li:nth-child(6) {
		position: relative;
		left: -5px;
	}

	#nav-list>li:nth-child(7) {
		position: relative;
		left: -370px;
	}

	#mobile-phone-box {
		visibility: hidden;
	}

	#main-content {
		top: 90px;
	}
}



/*////////////////////////////////////////////////*/
/*//////////WEBSITE DESIGNED BY ANDREW HELANDER///*/
/*//////////HELANDER.DESIGNS@GMAIL.COM////////////*/
/*////////////////////////////////////////////////*/

