* {
	box-sizing: border-box;
		
}

html {
	width: 100%;
}

body {
	font-family: Times New Roman, serif;
	padding: 0px;
	margin: 0px;
	background-color: #dddddd;
}


.col-xxs-3, .col-xxs-4, .col-xxs-6, .col-xxs-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}



.col-xxs-4 {
	width: 33.33%;
}

.col-xxs-6 {
	width: 50%;
}

.col-xxs-12 {
	width: 100%;
}

/*NAVIGATION BAR*/


#header-nav {
	width: 100%;
	position: relative;
	background: white;
	border: 1px black solid;
	padding: 0px;	
}

#header-nav>.container-fluid {
	padding: 0px;
	margin: 0px;
	height: 250px;
}


/*////////////LOGO//////////////////*/
/*////////////////////////////////////*/


div.navbar-brand {
	height: 100px;
	position: relative;
	width: 100%;
}

div.navbar-brand>div {
	position: relative;
	right: -0px;
	top: -50px;
}

.navbar-brand>div>h1 {
	width: 200px;
	position: relative;
	left: 175px;
	bottom: -30px;
	visibility: hidden;
}




#collapsable-nav {
	margin-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-nav>li {
	text-align: center;
	padding: 0px;
	margin: 10px auto 0px auto;
}

.navbar-toggler {
	position: absolute;
	right: 30px;
	bottom: 10px;
	padding: 10px;
}



#nav-list {
	width: 33%;
	margin-right: auto;
	margin-left: auto;
}


#nav-list>li:focus, #nav-list>li:hover {
	background: #95bcf2;
	box-shadow: 2px 2px 2px black;
	cursor: pointer;
}


@media only screen and (max-width: 565px) {

	.navbar-nav>li {
		margin-left: 0px;
		margin-right: 0px;
	}
}


/*///////////////////////////////////////*/
/*///////////////////////////////////////*/

#logo {
	position: absolute;
	top: -50px;
	left: 10px;
}

.nav-item-lg {
	float: left;
}

.contact-info {
position: absolute;
top: -10px;
right: 20px;
font-size: 0.75em;

}

.contact-info>p {
	margin: 0px;
}

#nav-phone-number {
	visibility: hidden;
}

#mobile-phone-box {
	visibility: visible;
	background: #95bcf2;
	border: 1px solid black;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1#fta {
	visibility: visible;
	position: relative;
	top: -20px;
	left: 150px;
}



/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/







/*//////////////SMALL DEVICES//////////////////////*/
@media only screen and (min-width: 566px) {

.contact-info {
	font-size: 1em;
	right: 25px;
}

h1#fta-full {
	visibility: hidden;
}

h1#fta {
	visibility: visible;
}


#mobile-phone-box {
	visibility: visible;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}




}

/*////////////////////MEDIUM DEVICES///////////////////*/
@media only screen and (min-width: 768px) {

h1#fta-full{
	visibility: visible;
}

h1#fta {
	visibility: hidden;
}


#nav-phone-number {
	visibility: hidden;
}

#mobile-phone-box{
	visibility: visible;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

#nav-list{
	width: 100%;
}

}


/*/////////////////////LARGE SCREENS/////////////////*/

@media only screen and (min-width: 992px) {

#nav-list {
	position: absolute;
	bottom: -120px;
	left: -195px;
	padding: 0px 10px 5px 10px;
}

#nav-list>li:nth-child(7) {
	position: relative;
	
}

ul#nav-list>li {
	margin: 10px 20px 10px 20px;
	position: relative;
}

.navbar-brand>div>h1 {
	left: 175px;
}


.contact-info {
	top: 10px;
}



#nav-phone-number {
	visibility: visible;
}


#mobile-phone-box {
	visibility: hidden;

}
}



/*//////////////////////////////////////////////*/
/*////////////////////////////////////////////////*/

