* {
	box-sizing: border-box;
	
}

/*//////////////////////////////////////////////////////*/
/*////////////////BASE STYLINGS/////////////////////////*/
/*//////////////////////////////////////////////////////*/

body {
	font-family: Georgia, Times New Roman, serif;
	padding: 0px;
	margin: 0px;
	background-color: #e6f9ff;
	color: #33336a;
	width: auto;
}


/*NAVIGATION BAR*/


#header-nav {
	width: 100%;
	position: relative;
	background: #99e7ff;
	border: 2px black solid;
	padding: 0px;
	height: 130px;
	color: #333344;	
}

#header-nav>.container-fluid {
	padding: 0px;
	margin: 0px;
	height: 150px;
}

/*////////////LOGO//////////////////*/
/*////////////////////////////////////*/


.navbar-brand {
	height: 100px;
	position: relative;
	width: 100%;
}

.navbar-brand>div {
	position: relative;
	right: -0px;
	top: -50px;
}

#navbar-brand>div {
	width: auto;
}

.navbar-brand>div>h1 {
	position: absolute;
	font-family: Comic Sans MS;
	width: auto;
	text-shadow: 2px 2px 1px #009ccc;
	margin: 0px;
	top: 40px;
	left: 125px;
	font-weight: bold;
	font-variant: small-caps;
	color: #333344;
}

#logo {
	position: absolute;
	top: -20px;
	left: 5px;
}

#small-logo {
	position: absolute;
	left:-5000px;
}

#togglerButton {
	position: absolute;
	right: 10px;
	bottom: -135px;
	padding: 10px;
	background: transparent;
	
}

/*////////NAVIGATION///////////*/
/*///////////////////////////////*/

.contact-info {
	position: absolute;
	top: -10px;
	right: 20px;
	font-size: 0.75em;
	font-weight: bold;
	width: auto;
	display: none;
}

.contact-info>p {
	margin: 0px;
	text-align: right;
}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*///////////////COLLAPSABLE NAV///////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


#collapsableNav li a {
	color: #33339f;
	text-decoration: none;
}

#collapsableNav li a:hover, #collapsable li a:active {
	background-color: #009ccc;
	color: #ccccfa;
}

@media (max-width: 991px) {

#collapsableNav {
	  height: 100%;
	  width: 0px;
	  position: fixed;
	  z-index: 2;
	  top: 0;
	  right: 0;
	  background-color: rgba(229, 248, 255, 0.95);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	  border: 1px solid black;
	  list-style: none;
	}

	#collapsableNav>.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}

	#collapsableNav li a{
	  padding: 8px 16px 8px 16px;
	  text-align: center;
	  text-decoration: none;
	  font-size: 25px;
	  color: #333333;
	  display: block;
	  transition: 0.3s;
	  margin-left: 0px;
	
	}

	#nav-list {
		list-style: none;
		padding-left: 0px;
	}



	.closebtn {
		position: absolute;
	    top: 5px;
	    right: 15px;
	    transition: 0.5s;
	    color: #34349f;
	    text-decoration: none;
	    font-size: 1.5em;
	}

}

#mobile-phone-box {
	visibility: visible;
	background: #99e7ff;
	border: 1px solid black;
	position: relative;
	bottom: 25px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	box-shadow: 2px 2px 2px black;
}

#mobile-phone-box>a {
	text-decoration: none;
	color: #333399;
	font-size: 1em;
}

#mainContent>.row {
	margin-top: 80px;
}

#fbFollow {
	font-size: 1.25em;
	color: #33336f;
	margin: 0px auto 30px auto;
	border: 1px solid black;
	background: #99e7ff;
	box-shadow: #002733 2px 2px 2px;
}

#fbFollow>p {
		margin-top: 5px;
		margin-bottom: 5px
}

#contentOne {
	border: 2px solid black;
	box-shadow: 2px 2px 1px black;
	background: #99e7ff;
}

#contentOne>p {
	padding-top: 10px;
	line-height: 30px;

}

.emphasized {
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;
}

#footer {
	height: 200px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-top: 300px;
	background-color: #99e7ff;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/




/*///////////ADJUST SCREEN FOR MOBILE DEVICES///////////////*/
/*//////////////////////////////////////////////////////////*/

@media (max-width: 575px) {
	
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.col-xs-4 {
		width: 33.33%;
	}
	
	.col-xs-5 {
		width: 41.666667%
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-8 {
		width: 66.66667%;
	}
	
	.col-xs-10 {
		width: 83.33334%
	}

	.col-xs-12 {
		width: 100%;
	}

	#fta-full {
		font-size: 0.75em;
		top: 35px;
		left: 50px;
	}

	#big-logo {
		display: none;
	}
	
	#small-logo {
		left: 0px;
	}

	#mobile-phone-box {
		top: -80px;
	}

	#mobile-phone-box>a {
		font-size: 1em;
	}

	.navbar-nav>li>a {
		margin-left: 0px;
	}

	#header-nav {
		height: 80px;
	}


	#togglerButton {
		right: -25px;
		bottom: -85px;
	}

	#mainContent {
		width: auto;
		margin-right: 20px;
		margin-left: 20px;
	}

	#contentOne {
		padding-left: 10px;
		padding-right: 10px;
	}

	#contentOne>p {
	}



}

@media (max-width: 393px) {
	
	.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6 .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.col-xxs-8 {
		width: 66.666667%;
	}

	.col-xxs-10 {
		width: 83.333334%;
	}

	#fbFollow {
		font-size: 0.75em;
	}

	#mainContent {
		margin-right: 10px;
		margin-left: 10px;
	}

	#contentOne>p {
		line-height: 25px;
	}
	



}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*//////////////SMALL DEVICES//////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


@media (min-width: 566px) {


	#mobile-phone-box {
		visibility: visible;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
	}


}


/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*////////////////////MEDIUM DEVICES///////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/


@media (min-width: 768px) {


	.navbar-nav>li>a {
		margin-left: auto;
		margin-right: 0px;
		width: auto;
	}

	#mobile-phone-box {
		visibility: visible;
		margin-top: 10px;
		
	}

	#fbFollow {
		font-size: 2em;
	}

}

/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////LARGE SCREENS///////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/

@media (min-width: 992px) {

	#header-nav {
		border-bottom: 0px;
	}

	#togglerButton {
		visibility: hidden;
	}

	.closebtn {
		visibility: hidden;
	}

	#logo {
		position: relative;
		top: -14px;
		
	}

	#fta-full {
		top: -70px;
	}
	
	.contact-info {
		font-size: 1em;
		right: 25px;
		display: inline-block;
		top: 10px;
	}

	#nav-list {
		position: absolute;
		top: 125px;
		left: 0px;
		padding: 0px 10px 5px 10px;
		width: 100%;
		border: 2px solid black;
		border-top: 0px;
		flex-direction: row;
		background: #99e7ff;
		list-style: none;
	}
	
	#nav-list>li {
		width: 16.66667%;
		float: left;
		right: -40px;
		margin-bottom: 15px;
		text-align: center;
		margin-top: 20px;
	}

	#nav-list>li>a {
		margin: 10px 0px 10px 0px;
		padding: 10px 50px 10px 50px;
		text-align: center;
		display: inline;
	}

	#mobile-phone-box {
		visibility: hidden;
	}
	
}



/*////////////////////////////////////////////////*/
/*//////////WEBSITE DESIGNED BY ANDREW HELANDER///*/
/*//////////HELANDER.DESIGNS@GMAIL.COM////////////*/
/*////////////////////////////////////////////////*/

