* {
	box-sizing: border-box;
	
}

/*//////////////////////////////////////////////////////*/
/*////////////////BASE STYLINGS/////////////////////////*/
/*//////////////////////////////////////////////////////*/

body {
	font-family: Rubik, Georgia, Times New Roman, serif;
	padding: 0px;
	margin: 0px;
	background: #D7DCEA;
	color: #1F2533;
	width: auto;
}

.line {
	height: 1px;
	width: 75%;
	border-top: 2px solid #1F2533;
	margin: 50px auto;
}

/*NAVIGATION BAR*/


#header-nav {
	width: 100%;
	position: relative;
	background-color: #EBF8FF;
	border: 2px #1F2533 solid;
	padding: 0px;
	height: 150px;
	color: #1F2533;	
}

#header-nav>.container-fluid {
	padding: 0px;
	margin: 0px;
	height: 150px;
}

/*////////////LOGO//////////////////*/
/*////////////////////////////////////*/


.navbar-brand {
	height: 100px;
	position: relative;
	width: 100%;
	margin-right: 0px;
}

.navbar-brand>div {
	position: relative;
	right: -0px;
	top: -50px;
}

#navbar-brand>div {
	width: auto;
}

.navbar-brand>div>h1 {
	position: absolute;
	font-family: Rubik, san-serif;
	width: auto;
	text-shadow: 2px 1px 1px #1F2533;
	margin: 0px;
	top: 40px;
	left: 125px;
	font-weight: bold;
	font-variant: small-caps;
	color: #3E517A;
}

#logo {
	position: absolute;
	top: -21px;
	left: 5px;
}

#small-logo {
	position: absolute;
	left:-5000px;
}

#togglerButton {
	position: absolute;
	right: 10px;
	bottom: -160px;
	padding: 10px;
	background: #C9DBE3
}

/*////////NAVIGATION///////////*/
/*///////////////////////////////*/

.contact-info {
	position: absolute;
	top: -10px;
	right: 20px;
	font-size: 0.75em;
	font-weight: bold;
	width: auto;
	display: none;
	color: #1F2533;
	font-family: 'Noto Serif JP', serif;
}

.contact-info>p {
	margin: 0px;
	text-align: right;
}

#estDate>h4 {
    position: absolute;
    top: 120px;
    left: 125px;
    font-size: 2vw;
    color: #1F2533;
}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*///////////////COLLAPSABLE NAV///////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

#collapsableNav li a {
	color: #1F2533;
	text-decoration: none;
	font-weight: 600;

}

#collapsableNav li a:hover, #collapsable li a:active, #collapsableNav li a.active {
	background-color: #3E517A;
	color: #EBF8FF;
}

/*/////////////////////////////////////////////////*/
/*////////////////SIDE NAV WITH OVERLAY////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/

@media (max-width: 991px) {

	#collapsableNav {
		height: 100%;
		width: 0px;
		position: fixed;
		z-index: 2;
		top: 0;
		right: 0;
		background-color: rgba(235, 248, 255, 0.95);
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
		list-style: none;
	}

	#collapsableNav>.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}

	#collapsableNav li a{
	    padding: 8px 16px 8px 16px;
	    text-align: center;
	    text-decoration: none;
	    font-size: 0.75em;
	    color: #1F2533;
	    display: block;
	    transition: 0.3s;
	    margin-left: 0px;
	
	}

	#nav-list {
		list-style: none;
		padding-left: 0px;
	}

	.closebtn {
		position: absolute;
	    top: 5px;
	    left: 15px;
	    transition: 0.5s;
	    color: #1F2533;
	    text-decoration: none;
	    font-size: 1.5em;
	}

}


/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*//////////////////MAIN CONTENT///////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


.infoBox a {
	border: 2px solid #1F2533;
	background: #EBF8FF;
	text-shadow: 1px 1px 1px #1F2533;
}

#mainContent {
	margin-top: 75px;
	min-height: 50vh;
}

#mainContent>.row {
	margin-top: 80px;
}

#mainContent .heading {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#mainContent .heading>h1, #mainContent .heading>h1>a {
	color: #3E517A;
	text-decoration: none;
	vertical-align: middle;
}

#mainContent .heading>h1>a {
    padding: 10px 50px 10px 50px;

}

#mainContent .heading>h1>a:hover, #mainContent .heading>h1>a:active {
	background-color: #EBF8FF;
	box-shadow: 2px 2px 1px #1F2533;

}

.content {
	border: 2px solid #1F2533;
	box-shadow: 2px 2px 1px #1F2533;
	background-color: #EBF8FF;
	margin: 0px auto 20px auto;
}

.content p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	line-height: 30px;

}

p .emphasized {
	font-size: 1.5em;
	font-variant: small-caps;
	text-align: center;
}

#googleMap {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

#googleMap>iframe {
	border: 2px solid #1F2533;
}

	#contactBox>div {
		text-align: right;
		margin-right: auto;
		margin-left: auto;
		height: 100%;
}

form {
	height: 300px;
}

form>input:nth-child(3) {
	height: 200px;
}

.execInfo {
	font-variant: small-caps;
	font-size: 1.25em;
}


/*///////////////////////////////////////////*/
/*///////////////////////////////////////////*/
/*///////////////xFOOTER/////////////////////*/


#footer {
	position: relative;
	bottom:0px;
	width: 100%;
	min-height: 200px;
	border-top: 2px solid #1F2533;
	border-bottom: 2px solid #1F2533;
	margin-top: 300px;
	background-color: #3E517A;
}

#footer .row {
	margin-left: 0px;
	margin-right: 0px;
}

#footer .row>div {
	margin-top: 20px;
}

#footer .row:nth-child(1), #footer .row:nth-child(1)>div{
	height: 0px;
}

#footer a {
	text-decoration: none;
	color: #EBF8FF;
}

#footer .smallFooterLink a.active {
	background-color: #EBF8FF;
	color: #3E517A;
}

#footer a:hover, #footer a:active {
	background-color: #EBF8FF;
	color: #3E517A;

}

#footer p {
	margin: 0px;
}

.footerLink {
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.footerLink>div {
	position: relative;
	top: -250px;
	height: 70px;
	width: 100%;

}

.footerLink>div>a>div {
	height: 100%;
	width: 100%;
	float: left;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 35px;	

}

#ctaImg {
	background: url('../images/cta-logo.png') no-repeat center;
	

}

#neaImg {
	background: url("../images/nea-logo.png") no-repeat center;
	
}


#ctaImg:hover, #neaImg:hover {
	background-color: #EBF8FF; 
	box-shadow: 2px 2px 1px #1F2533;
}

#smallFooterLink {
	margin-top: 0px;
	vertical-align: middle;
}



#copyTag {
	font-size: 0.5em;
	color: #EBF8FF;
	padding-top: 50px;
	padding-bottom: 20px;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/
/*///////////////////////////////////////*/




/*///////////xADJUST SCREEN FOR MOBILE DEVICES///////////////*/
/*//////////////////////////////////////////////////////////*/

@media (max-width: 575px) {
	
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.col-xs-4 {
		width: 33.33%;
	}
	
	.col-xs-5 {
		width: 41.666667%
	}

	.col-xs-6 {
		width: 50%;
	}

	.col-xs-8 {
		width: 66.66667%;
	}
	
	.col-xs-10 {
		width: 83.33334%
	}

	.col-xs-12 {
		width: 100%;
	}

	#fta-full {
		font-size: 0.75em;
		top: 35px;
		left: 50px;
		text-shadow: 1px 1px #1F2533;
	}

	#estDate {
		top: 0px;
	}

	#estDate>h4 {
		top: 20px;
		left: 50px;
		font-size: 3vw;
	}

	#big-logo {
		display: none;
	}
	
	#small-logo {
		left: 0px;
	}

	#nav-list>li {
		padding-left: 0px;
		padding-right: 0px;
	}

	.navbar-nav>li>a {
		margin-left: 0px;
		;
	}

	#header-nav {
		height: 80px;
	}


	#togglerButton {
		right: -10px;
		bottom: -85px;
	}

	#mainContent {
		width: auto;
	}

	.heading>h1 {
		font-size: 1.25em;
	}

	.inputTitle {
		display: block;
	}

	#subjectInput {
		width: 100%;
		max-width: 300px;
	}

	#messageInput {
		max-width: 100%;
	}
}

@media (max-width: 393px) {
	
	.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6 .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
		position: relative;
		min-height: 1px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.col-xxs-8 {
		width: 66.666667%;
	}

	.col-xxs-10 {
		width: 83.333334%;
	}

	.col-xxs-12 {
		width: 100%;
	}

	#mainContent {
		margin-right: 10px;
		margin-left: 10px;
	}

	.content>p {
		line-height: 25px;
	}
	
	.heading>h1 {
		font-size: 1em;
	}

	#mainContent .heading>h1 a {
		padding: 10px;
	}


}

/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*//////////////xSMALL DEVICES//////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////*/


@media (min-width: 566px) {



}


/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*////////////////////xMEDIUM DEVICES///////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/


@media (min-width: 768px) {


	.navbar-nav>li>a {
		margin-left: auto;
		margin-right: 0px;
		width: auto;
	}

	.footerLink {
		max-width: 100%;
	}

	.footerLink>div {
		top: -150px;
		width:50%;
		float: left;
		padding-right: 60px;
		padding-left: 60px;
	}

	#neaImg, #ctaImg {
		max-width: 300px;
	}

}

/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////xLARGE SCREENS///////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////*/

@media (min-width: 992px) {

	#header-nav {
		border-bottom: 0px;
	}

	#togglerButton {
		visibility: hidden;
	}

	.closebtn {
		visibility: hidden;
	}

	#logo {
		position: relative;
		top: -25px;
		width: 100px;
	}

	#fta-full {
		top: -77px;
	}
	
	.contact-info {
		font-size: 1em;
		right: 25px;
		display: inline-block;
		top: 10px;
	}

	#estDate>h4 {
    	top: 10px;
	}
	
	#nav-list {
		position: absolute;
		top: 150px;
		left: 0px;
		padding: 0px 10px 5px 10px;
		width: 100%;
		border: 2px solid #1F2533;
		border-top: 0px;
		flex-direction: row;
		background-color: #EBF8FF;
		list-style: none;
	}
	
	#nav-list>li {
		float: left;
		right: -40px;
		margin-bottom: 15px;
		text-align: center;
		margin-top: 20px;
	}

	#nav-list>li>a {
		margin: 10px 0px 10px 0px;
		padding: 10px 50px 10px 50px;
		text-align: center;
		display: inline;
	}

	#mainContent {
		margin-top: 150px;
	}

	#googleMap {
		width: 600px;
	}
	

	#phoneLink {
		display: none;
	}


	#contactBox>h2 {
		margin-bottom: 20px;
		text-align: right;

	}

	.line {
		display: none;
	}

	.contentBox {
		padding-left: 50px;
		padding-right: 50px;
	}

	#subjectInput {
		width: 50%;
	}

	.footerLink>div {
		padding-right: 110px;
		padding-left: 110px;
	}


}



/*////////////////////////////////////////////////*/
/*//////////WEBSITE DESIGNED BY ANDREW HELANDER///*/
/*//////////HELANDER.DESIGNS@GMAIL.COM////////////*/
/*////////////////////////////////////////////////*/

